.center{
    text-align: center;
}

.pos {
    display: flex;
    justify-content: center;
  }

  .selected {
    background-color: purple;
    color: white;
  }

  .custom-class {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 5px;
  }

  .clickable{
    cursor: pointer;
}
.card {
  width: 100%;
}

.card-body {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.row > div {
  flex-basis: 100%;
  margin-bottom: 20px;
}

input {
  width: 100%;
  display: block;
}

  
  