.center{
    text-align: center;
}

.pos {
    display: flex;
    justify-content: center;
  }

  .selected {
    background-color: purple;
    color: white;
  }

  .custom-class {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 5px;
  }

  .clickable{
    cursor: pointer;
}

  
  