<div class="card">
    <div class="card-header card-header-danger">
        <h4 class="card-title">Affectation d'engins</h4>
    </div>
    <div class="card-body">
        <div class="row pos">
            <p class="text-danger">{{errorMessage}}</p>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label for="numero">Matricule: </label>
                <input matInput type="number" id="matricule" name="matricule" [value]="affectation?.idA" disabled/>
            </div>
            <div class="col-md-6" *ngIf="affectation">
                <label for="nomE">Type d'engin: </label>
                <input matInput type="text" id="nomE" name="nomE" [(ngModel)]="affectation.engin.nomEngin" disabled/>
            </div>
        </div>
        <div class="row" *ngIf="affectation">
            <div class="col-md-6">
                <label for="compteur">Compteur avant sortie: </label>
                <input matInput type="number" id="compteur" name="compteur" [(ngModel)]="affectation.compteurS"/>                   
            </div> 
            <div class="col-md-6">
                <label for="observationE">Observation : </label>
                <input matInput type="text" id="observationE" name="observationE" [(ngModel)]="affectation.observationS"/>
            </div>
        </div>     
        <div class="row" *ngIf="affectation">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <label for="dateS">Date de sortie : </label>
                <input matInput type="date" id="dateS" name="dateS" [(ngModel)]="affectation.dateS" disabled/>
            </div>
            <div class="col-md-3"></div>

            <!-- <div class="col-md-6">
                <label for="date">Date d'entrée : </label>
                <input matInput type="date" id="dateE" name="dateE" [(ngModel)]="affectation.dateE"/>                   
            </div>  -->
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-3">
                <button mat-raised-button type="button" class="btn btn-danger" (click)="close()">Fermer</button>
            </div>
            <div class="col-md-3">
                <button mat-raised-button type="button" class="btn btn-primary" (click)="updateAffectation()">Confirmer</button>
            </div>
        </div> 
        <div class="clearfix"></div>
    </div>
</div>

